* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    color: #222;
    background: #fff;
}

span {
    color: red;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* NAVBAR*/
.navbar {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    height: 130px;
    position: relative;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover {
    color: #0067b8;
}


.contact-section {
    padding: 80px 40px;
    background-color: rgb(226, 224, 224);
}

.contact-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 60px;
}

/* LEFT */
.contact-left {
    flex: 1;
}

.contact-left h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;
}

.info-box {
    background: rgb(242, 241, 241);
    padding: 35px;
    margin-bottom: 25px;
}

.info-box p {
    font-size: 1.05rem;
    margin-bottom: 18px;
    line-height: 1.6;
}

.support-text {
    font-size: 1.05rem;
}

.support-text a {
    color: #000;
    text-decoration: underline;
}

/* RIGHT */
.contact-right {
    flex: 1.2;
}

.row {
    display: flex;
    gap: 30px;
}

.field {
    margin-bottom: 22px;
    width: 100%;
}

.field label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.field input,
.field textarea {
    width: 100%;
    background: rgb(242, 241, 241);
    border: none;
    padding: 16px;
    font-size: 1rem;
}
textarea {
    height: 120px;
    resize: none;
}

.policy {
    font-size: 0.95rem;
    margin-top: 15px;
}

.policy a {
    color: red;
    text-decoration: underline;
}

.required {
    font-size: 0.95rem;
    margin-top: 10px;
}

button {
    margin-top: 25px;
    padding: 12px 45px;
    border-radius: 25px;
    border: none;
    background: rgb(242, 241, 241);
    color: red;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background: rgb(255, 255, 255);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .contact-container {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }
}

/* ============================
   CTA SECTION
============================ */
.cta {
    background: linear-gradient(120deg, #0067b8, #002e5d);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.cta h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.cta p {
    max-width: 800px;
    margin: auto;
    font-size: 1.1rem;
    opacity: 0.95;
    margin-bottom: 30px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-primary,
.btn-secondary {
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary {
    background: #fff;
    color: #0067b8;
}

.btn-primary:hover {
    background: #e5e5e5;
}

.btn-secondary {
    border: 2px solid #fff;
    color: #fff;
}

.btn-secondary:hover {
    background: #fff;
    color: #0067b8;
}

/* ============================
   FOOTER
============================ */
.footer {
    background: #002e5d;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.9rem;
}

/* Tablets */
@media (max-width: 992px) {
  .navbar ul {
    gap: 15px;
  }
  .hero h1 {
    font-size: 2.2rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    height: auto;
  }

  .navbar ul {
    margin-top: -20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    height: 100px;
    top: 0;
  }

  .cta-buttons {
    flex-direction: column;
  }

  .hero {
    padding: 80px 15px;
  }

  .hero h1 {
    font-size: 1.9rem;
  }
}